.forget-password{
    background: url(../../assets/backgroundfaded.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.row{
    --bs-gutter-x: 0rem;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    background: #0A2451;
}
.main-wrapper{
    padding-top: 100px;
}
.main-wrapper .row{
    z-index: 10;
}
.main-wrapper h3{
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
}
.white-wrapper{
    background: white;
    border-radius: 5px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}
.white-wrapper .logo img{
    width: 150px;
    object-fit: scale-down;
    margin-bottom: 20px;
}
.white-wrapper form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.white-wrapper input{
    padding: 10px;
    text-align: center;
    border: 1px solid #c9c6c6;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    outline: none;
}
.white-wrapper button{
    width: 250px;
    margin: 8px auto;
    font-size: 14px;
    padding: 7px 40px;
}
.outer-bg{
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: -1;
   
}
.bg-container{
    display: flex;
    align-items: center;
}
.outer-bg .blank{
    flex: .5;
}
.outer-bg .prim-logo{
    flex: .5;
}
.outer-bg img{
    width: 500px;
    height: fit-content;
}
.forget-password .copyright{
    text-align: center;
}
.copyright p{
    font-size: 12px;
}